.project-container {
  width: 80%;
  height: 90vh;
  margin: auto;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(6, 2fr);
  grid-template-areas:
    "t t t t t t "
    "p1 p1 p2 p2 p3 p3"
    "p1 p1 p2 p2 p3 p3 "
    "p1 p1 p2 p2 p3 p3"
    "p1 p1 p2 p2 p3 p3";
}

// .item:before {
//   content: "";
//   display: block;
//   position: absolute;
//   height: 0%;
//   width: 100%;
//   bottom: 0;
//   transition: height 0.1s ease-out;
//   background: linear-gradient(to top, transparent 0%, rgb(158, 143, 237) 100%);
// }

// .item:hover:before {
//   height: 100%;
// }

.item {
  width: 90%;
  transition: all 0.2s ease-in-out;
  text-align: center;
  color: white;
}

.item h2 {
  margin-top: 120%;
}

.item button {
  background-color: transparent;
  padding: 1em;
  margin-top: 5%;
  color: white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.item button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(18, 139, 232);
}

.item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.title {
  grid-area: t;
  text-align: center;
}

.project-one {
  grid-area: p1;
  background-image: url("https://source.unsplash.com/weekly?japan");
}

.project-two {
  grid-area: p2;
  background-image: url("https://source.unsplash.com/weekly?city");
}

.project-three {
  grid-area: p3;
  background-image: url("https://source.unsplash.com/weekly?sea");
}

@media (max-width: 800px) {
  .project-container {
    margin-top: 50%;
    height: 100vh;
    display: grid;
    grid-template-areas:
      "t t t"
      "p1 p1 p1 "
      "p2 p2 p2";
  }
}
