.project-container {
  width: 80%;
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% auto auto;
  grid-template-areas:
    "t t t t"
    "p1 p1 p2 p2"
    "p1 p1 p2 p2";
}

.title {
  grid-area: t;
  border: 1px dotted black;
  text-align: center;
}

.project-one {
  grid-area: p1;
  border: 1px dotted black;
}

.project-two {
  grid-area: p2;
  border: 1px dotted black;
}
