.HomeContainer {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #git commf9f9f9;

  h4 {
    margin-top: 20px;
  }
}

.HomeTitle {
  margin-top: 50px;
}

.HomeImgContainer {
  margin-top: 20px;
}
