/* Fonts */

header {
  background: pink;
  text-align: center;
  padding: 2em 0;
}

nav ul {
  border: 1px solid magenta;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1em;
}

nav a {
}
