.navbar{
    background-color: blue;
    width: 100%;
    height: 50px;
    list-style-type: none;

    img{
        padding: 10px;
        float: left;
    }

    li{
        display: inline;
        float: right;
        padding: 10px;
    }
}