.StacksContainer{
    display: grid;
    grid-template-columns: auto auto auto;
}

.StacksContainer > div{
    width: 200px;
    height: 200px;
    margin: auto;

    .img{
        width: 200px;
        height: 250px;
    }

    .img:hover{
        cursor: pointer;
    }
}