@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.about-container {
  width: 80%;
  margin: auto;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 20% 70%;
  grid-template-areas:
    "t t t"
    "p d d"
    "p s s";
}

.title-container {
  // border: 1px dotted pink;
  grid-area: t;
  text-align: center;
  h1 {
    font-size: 2rem;
  }
}

.photo-container {
  // border: 1px dotted pink;
  grid-area: p;
  img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
  }
}

.description-container {
  // border: 1px dotted pink;
  grid-area: d;
  padding: 0em 0em 0em 2em;
  p {
    font-size: 1rem;
  }
}

.skill-container {
  // border: 1px dotted pink;
  grid-area: s;
}

@media (max-width: 800px) {
  .about-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
  }
  .photo-container {
    display: none;
  }
}
