.about-container {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 40% 50%;
  grid-gap: 5px;
  grid-template-areas:
    "t t t t t t t t t t t t"
    "p p p p d d d d d d d d"
    "p p p p s s s s s s s s";
}

.title-container {
  border: 1px dotted pink;
  grid-area: t;
  text-align: center;
}

.photo-container {
  border: 1px dotted pink;
  grid-area: p;
  img {
    width: 100%;
    max-width: 100%;
  }
}

.description-container {
  border: 1px dotted pink;
  grid-area: d;
}

.skill-container {
  border: 1px dotted pink;
  grid-area: s;
}

@media (max-width: 800px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% auto 50%;
    grid-gap: 5px;
    grid-template-areas:
      "t t t t t t t t t t t t"
      "p p p p d d d d d d d d"
      "s s s s s s s s s s s s";
  }
  .description-container {
    max-height: 100%;
    p {
      word-wrap: break-word;
    }
  }
}
