.tab-container {
  display: flex;
  flex-direction: column;
}

.tab-label {
  display: flex;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  cursor: pointer;
}

.active-tabs {
  // background: blue;
  border-bottom: 1px solid transparent;
}

.content {
  // background: rgb(183, 81, 81);
  padding: 2em;
  height: 100%;
  display: none;
}

.active-tab {
  display: block;
}

.icons-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;

  img {
    width: 100px;
    height: 100px;
    max-width: 100%;
  }

  img:hover {
    cursor: pointer;
  }
}

.icons-grid > div {
  width: 80%;
  text-align: center;
}

.exp-desc {
  margin-top: 0.5em;
}
