/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");

/* Layout */

.Container {
  width: 100%;
  height: 100vh;
  font-family: "Basic", Arial, Helvetica, sans-serif;
}

.HomeContainer {
  display: flex;
  width: 80%;
  height: 70vh;
  margin: auto;
  border-radius: 15px;
  color: black;
  //   border: 3px dotted black;
  background-color: #f1f1f1;
  padding-top: 2em;
}

.col {
  width: 50%;
  //   border: 3px dotted red;
}

.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colImg {
  width: 90%;
  //   border: 3px dotted blue;
}

.col-1 {
  padding: 4em 2em 2em 2em;
  width: 80%;
  margin: auto;
  //   border: 3px dotted orange;
}

.col-1 button {
  margin-top: 3em;
  padding: 1em;
  background-color: #318de7;
  border-radius: 15px;
  border: none;
}

.col-1 button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.col-1 button:hover {
  cursor: pointer;
  background-color: #4f2d87;
}

.btn-2 {
  margin-left: 1em;
}

@media (max-width: 700px) {
  .Container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .HomeContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    // border: 3px green dotted;
  }
  .col {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .col-1 {
    // border: 3px dotted black;
    width: 100%;
    margin-top: 1em;
  }

  .col-2 {
    margin: auto;
    // border: 3px dotted magenta;
    width: 100%;
  }

  .colImg {
    width: 80%;
    height: 100%;
  }
}
