/* Layout */

.MenuContainer {
  width: 100%;
  height: 100vh;
}

.HomeContainerImg {
  width: 70%;
}

.HomeContainer {
  width: 90%;
  height: 70vh;
  margin: auto;
  border-radius: 15px;
  background-color: #8ea3ff;
  display: flex;
}

.HomeContainer > div {
  border: 1px solid black;
  width: 50%;
}
